body {
    background-image: url("background.jpg");
    background-size: 100%;
}

#letter {
    background-image: url("envelope.png");
    color: black;
}

#showSend {
    width: 200px;
    height: 50px;
    font-family: "Oxygen";
    font-size: 20px;
    color: black;
}

.button {
    font-family: "Oxygen";
    font-size: 14px;
}

#main {
    background-color: blueviolet;
    border: rounded;
    padding: 20px;
    border-radius: 25px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: auto;
    max-height: 80%;
    color: white;
}


h1 {
    text-align: center;
    font-family: "Borel";
    font-size: 20px;
}

p {
    text-align: center;
    font-family: "Oxygen";
    font-size: 20px;
}

label {
    font-family: "Oxygen";
    font-size: 20px;
    display: block;
    margin : 0 auto;
    text-align: center;
}

input {
    display: block;
    margin : 0 auto;
    text-align: center;
}
